[submodule "firmware/lwip"]
	path = firmware/lwip
	url = https://github.com/lwip-tcpip/lwip.git
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/myftptoyman/riscv-isa-sim.git
[submodule "firmware/lwext4"]
	path = firmware/lwext4
	url = https://github.com/gkostka/lwext4.git
